.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.kanban-heading-text {
  font-size: 1.8rem;
  background-color: rgb(228, 180, 252);
  padding: 0.8rem 1.7rem;
  margin: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
}

.kanban-block {
  padding: 0.6rem;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

#todo {
  background-color: #ffbecb;
}

#inprogress {
  background-color: #ffd476;
}

#done {
  background-color: #c1d99b;
}

body {
  background-image: url("Phyrexian.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.task {
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}

#task-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  border: 0.25rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
